html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  border: solid 2px black;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.checkbox input {
  margin-bottom: 1rem;
}

#main-form{
  /* display: none; */
}

#forgot-password {
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
  text-transform: capitalize;
  height: 50%;
}
.alert {
  visibility: hidden;
}
#create-account {
  height: 55%;
  display: none;
}
#demo-login{
  display: none;
}
#users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}
#users div{
  padding: 5%;
}
.user {
  border: solid 2px black;
  margin: 0;
}